
body {
  margin: 0;
  overflow: hidden;
  background-color: #0d1117;
  color: #fff;
}

#controls {
  opacity: 0.9;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#controls .parameter {
  padding: 5px 0px;
  clear: both;
  color: #fff;
  font-family: sans-serif;
  font-size: 11px;
  height: 20px;
}

#controls .parameter > label {
  text-align: right;
  padding: 5px 5px;
  float: left;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#controls .parameter input:not([type=checkbox]),
#controls .parameter select {
  width: 120px;
  color: #eee;
  font-size: 11px;
  background-color: #252f3e;
}

#controls .parameter select:not(.short) {
  width: 164px;
}

#controls .parameter input[type=number] {
  width: 156px;
  padding: 2px;
}

#controls .parameter input[type=range] {
  height: 16px;
}

#controls .parameter input[type=checkbox] {
  vertical-align: bottom;
}

#controls .parameter > output {
  color: #eee;
  text-align: left;
  padding: 3px 5px;
  float: right;
  width: 30px;
  font-size: 11px;
  background-color: #252f3e;
}


#controls .parameter.colorPattern {
  display: inline-block;
}

#controls .parameter.color {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 3px 4px;
}
#controls .parameter.color input {
  width: 40px;
  height: 20px;
}
